<div id="teacher-login-header"><h4 id="signup-header">Muokkaa omia tietojasi</h4></div>

<div class="profile-edit-view" id="">

 <div class="section">
    <div class="row">
      <div class="col s12 l6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :etunimi %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

          <div class="field">
          <%= f.label :sukunimi %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :sähköposti %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :salasana %> <i>(Jätä tyhjäksi jos et halua vaihtaa)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :vahvista_salasana %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :nykyinen_salasana %> <i>(Vahvista muutokset salasanalla)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>
  

  <div class="col s12 l6">
      <div class="add-avatar center">
      <%= image_tag(current_user.avatar.url(:thumb), :class => 'round-image-70') %>
        <div class="field">
          <%= f.label :avatar  %>
          <%= f.file_field :avatar %>
        </div>
      </div>
  </div>

  <div class="actions center">
    <%= f.submit "Päivitä", :class => 'waves-effect waves-light btn'%>
  </div>

  <div class="edit-bottom center">
    <h5 id="signup-header">Poista tilini</h5>
    <p>Tyytymätön? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Oletko varma?" }, method: :delete %></p>
  </div>
</div>
<% end %>

<%= link_to "Takaisin", :back %>

    </div>
 </div>
