<!--<div id="teacher-login-header"><h4 id="signup-header">Muokkaa omia tietojasi</h4></div>-->

<h4 class="edit-header">Muokkaa omia tietojasi</h4>

<div class="profile-edit-view" id="">

 <div class="section">
    <div class="row">
      <div class="col s12 l6">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="col l4 m4 s12">
            <div class="valign-wrapper edit-label-right">
              <p class="edit-label valign">Etunimi</p>
              <%= f.label :etunimi, :class => 'edit-label-invisible' %>
            </div>
          </div>
          <div class="col l8 m8 s12">
            <%= f.text_field :first_name, autofocus: true, :class => 'edit-text-field' %>
          </div>
        </div>

        <div class="row">
          <div class="col l4 m4 s12">
            <div class="valign-wrapper edit-label-right">
              <p class="edit-label valign">Sukunimi</p>
              <%= f.label :sukunimi, :class => 'edit-label-invisible' %>
            </div>
          </div>
          <div class="col l8 m8 s12">
            <%= f.text_field :last_name, autofocus: true, :class => 'edit-text-field' %>
          </div>
        </div>

        <div class="row ">
          <div class="col l4 m4 s12">
            <div class="valign-wrapper edit-label-right">
              <p class="edit-label valign">Sähköposti</p>
              <%= f.label :sähköposti, :class => 'edit-label-invisible' %>
            </div>
          </div>
          <div class="col l8 m8 s12">
            <%= f.text_field :email, autofocus: true, :class => 'edit-text-field' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Odotetaan vastausta: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="row">
          <div class="col l4 m4 s12">
            <div class="valign-wrapper edit-label-right">
              <p class="edit-label valign">Salasana</p>
              <%= f.label :salasana, :class => 'edit-label-invisible' %>
            </div>
          </div>
          <div class="col l8 m8 s12">
            <%= f.text_field :password, autocomplete: "off", :class => 'edit-text-field' %>
            <span class="edit-note">Jätä tyhjäksi, jos et halua vaihtaa</span>            
          </div>
        </div>

        <div class="row">
          <div class="col l4 m4 s12">
            <div class="valign-wrapper edit-label-right">
              <p class="edit-label valign">Vahvista salasana</p>
              <%= f.label :vahvista_salasana, :class => 'edit-label-invisible' %>
            </div>
          </div>
          <div class="col l8 m8 s12">
            <%= f.text_field :password_confirmation, autocomplete: "off", :class => 'edit-text-field' %>
          </div>
        </div>

        <div class="row">
          <div class="col l4 m4 s12">
            <div class="valign-wrapper edit-label-right">
              <p class="edit-label valign">Nykyinen salasana</p>
              <%= f.label :nykyinen_salasana, :class => 'edit-label-invisible' %>
            </div>
          </div>
          <div class="col l8 m8 s12">
            <%= f.text_field :current_password, autocomplete: "off", :class => 'edit-text-field' %>
            <span class="edit-note">Vahvista muutokset salasanalla</span>
          </div>
        </div>

      </div>

  <div class="col s12 l6">
      <div class="add-avatar center">
      <%= image_tag(current_user.avatar.url(:thumb), :class => 'round-image-70') %>
        <div class="field">
          <%= f.label :avatar  %>
          <%= f.file_field :avatar %>
        </div>
      </div>
  </div>

  <div class="actions center">
    <%= f.submit "Päivitä", :class => 'waves-effect waves-light btn'%>
  </div>

  <div class="edit-bottom center">
    <h5 id="signup-header">Poista tilini</h5>
    <p>Tyytymätön? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Oletko varma?" }, method: :delete %></p>
  </div>
</div>
<% end %>

<%= link_to "Takaisin", :back %>

    </div>
 </div>
