<div id=login>

  <div id="signup_panel">

<div class="signup-view"><%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field signup-field">
    <%= f.text_field :first_name, autofocus: false, :placeholder => 'Etunimi', :class => 'register-field' %>
  </div>

    <div class="field signup-field">
    <%= f.text_field :last_name, autofocus: false, :placeholder => 'Sukunimi', :class => 'register-field' %>
  </div>

  <div class="field signup-field">
    <%= f.email_field :email, autofocus: false, :placeholder => 'Sähköposti', :class => 'register-field' %>
  </div>

  <div class="field signup-field">
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Salasana', :class => 'register-field' %>
  </div>

  <div class="field signup-field">
    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Vahvista salasana', :class => 'register-field' %>
  </div>

  <div class="field signup-field">
    <%= f.check_box :teacher, :class => 'check_box' %>
    <%= f.label :teacher, 'Olen opettaja' %>
  </div>

  <div class="register_actions">
    <%= f.submit "Rekisteröidy", :class => 'login_button confirm_button' %>
  </div>
<% end %>
</div>

</div>
