
<% if user_signed_in? and current_user.teacher%>

  <h4 id="teacher-login-header"> Tervetuloa, <%= current_user.first_name %>! </h4>

  <div id="teacher-view-main">

  <div class="container">
      <div class="row three-paragraphs center-align">
        <div class="col m4 s12">
          <div class="card">
             <div class="card-image waves-effect waves-block waves-light">
             <img src="http://tutorly.co/assets/img/main5a.jpg" alt="" class="activator"/>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Oma profiili<i class="material-icons right">more_vert</i></span>
                <%= link_to(teacher_path(:id=>current_user)) do %>
                    <p>Näytä</p>
                  <% end %>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Oma profiili<i class="material-icons right">close</i></span>
                <p>Katsele ja muokkaa omaa julkista profiiliasi.</p>
              </div>
            </div>
        </div>
        <div class="col m4 s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="http://tutorly.co/assets/img/main5a.jpg" alt="" class="activator"/>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Viestit
                    <span class="badge" id="notification-badge" data-badge-caption="">4</span>
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <%= link_to(contacts_path) do %>
                    <p>Näytä</p>
                  <% end %>

                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Viestit<i class="material-icons right">close</i>
                  </span>
                  <p>Viestittele oppilaidesi kanssa helposti.</p>
                </div>
              </div>
            </div>
        <div class="col m4 s12">
          <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="http://tutorly.co/assets/img/main5a.jpg" alt="" class="activator"/>
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Pyynnöt
                    <span class="badge" id="notification-badge" data-badge-caption="">2</span>
                  <i class="material-icons right">more_vert</i></span>
                  <p><a href="#">Näytä</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Jotain dadaa<i class="material-icons right">close</i></span>
                  <p>Dadaa!!</p>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

  </div>

<% else %>

  <!-- <div class="index-image-container">
    <img src="http://tutorly.co/assets/img/main5a.jpg" alt="" class="index-image"/>
    <div id="overlay">
      <h3 id="index-header1"> Tutorinki </h3>
      <h5 id="index-header2"> Löydä opetusta haluamastasi aiheesta helposti ja nopeasti! </h5>
         <%= form_tag(teachers_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :subject_query, params[:subject_query], placeholder: "Hae opetusta"%>
         <% end %>
    </div>
  </div> -->
<div class="frontpage">
  <div id="index_container">
  <div id="overlay">
  <div id="menu_actions">
    <ul>
        <%= link_to(new_user_registration_path) do %>
          <li class="login_link_button">Liity</li>
        <% end %>
        <%= link_to(new_user_session_path) do %>
          <li class="login_link_button">Kirjaudu</li>
        <% end %>
    </ul>
  </div>
    <div id="index_title">
      <h1>Tutorinki</h1><br />
      <div class="searchBox-inputWrapper searchBox-inputWrapper_bordered">
        <%= form_tag(teachers_path, :method => "get", id: "search-form") do %>
         <%= text_field_tag :subject_query, params[:subject_query], placeholder: "Hae oppiainetta...", id: "search_input", class: "form-control searchBox-input js-searchBox-input"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <section id="benefits">
    <h4 class="center-align with-subtitle" style="margin-bottom:2em;">Löydä tutoreita helposti Tutoringin avulla aineessa kuin aineessa!</h4>
    <h5 class="subtitle center-align"><!--Lähes yhtä hyvää markkinointishittiä--></h5>
    <div class="container">
      <div class="row three-paragraphs center-align">
        <div class="col m4 s12">
          <i class="small material-icons">code</i>
          <h5>Markkinoi osaamistasi</h5>
          <p>
            Tee opettajaprofiili, ja kerro omasta osaamisestasi. Voit listata aineita ja tasoja, joita haluat opettaa, ja tarjota tuntejasi niitä tarvitseville oppilaille.
          </p>
        </div>
        <div class="col m4 s12">
          <i class="small material-icons">swap_horiz</i>
          <h5>Etsi opettajia aineiden perusteella</h5>
          <p>
            Rekisteröidy oppilaana, ja löydä hyviä opettajia läheltäsi. Voit etsiä tietyn aineen opettajia ja selata heitä, lukea arvosteluja ja valita sinulle parhaan opettajan.
          </p>
        </div>
        <div class="col m4 s12">
          <i class="small material-icons">supervisor_account</i>
          <h5>Luo kontakteja</h5>
          <p>
            Luo oppilas-opettaja-yhteyksiä.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
</div>

<% end %>
