
<div id="messages" style="overflow:scroll; height:500px;" data-chat-id="<%= @chat.id %>">
  <%= render @chat.messages %>
</div>

<%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :Viesti %>
    <%= f.text_field :body, class: 'form-control' %>
    <small class="text-muted">Vähintään 2 merkkiä</small>
  </div>

  <%= f.submit "Lähetä", class: 'btn btn-primary btn-lg' %>
<% end %>
