<div id="prefetch">
  <input class="typeahead" type="text" placeholder="Countries">
</div>

<div>
  <% @skills.each do |skill| %>
    <div class="center">
      <div class="divider"></div>
      <div class="section">
              <h5><%= skill.subject.name %> <%= skill.subject.detail %></h5>
              <%= link_to("Poista", skill_path(skill), :method => "delete") %>
            </div>
          </div>
  <% end %>
</div>

<%= form_for @newskill do |s| %>
  <%= s.text_field :subject, placeholder: "Aine" %>
  <%= s.text_field :description, placeholder: "Taso" %>
  <%= s.submit "Lis채채", :type => "submit" %>
<% end %>

<div class="profile-edit-view">
  <%= form_for(:user, controller: "teacher", action: "save", method: "post" ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :bio%><br />
    <%= f.text_field :bio, autocomplete: "off", :value => @teacher.bio %>
  </div>


  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "P채ivit채 tiedot", :class => 'waves-effect waves-light btn'%>
  </div>

<% end %>
</div>
