	<div id="profile">

    	<div class="section">
      		<div class="row">
                <div class="col s12 l6">
          			<h3 class="center orange-text profile-header"><%= @teacher.first_name %> <%= @teacher.last_name %></h2>
          			<div class="center location">
          				<i class="material-icons orange-text">place</i><%= @teacher.bio%>
          			</div>
					<% @subjects.each do |subject| %>
						<div class="center">
							<div class="divider"></div>
							<div class="section">
	            				<h5><%= subject.capitalize %></h5>
	            				<ul>
		            				<% @teacher.subjects.where(name:subject).pluck(:detail).uniq.each do |s| %>
			            				<li>
			            					<%= s.capitalize %>
			            					<i class="material-icons" id="subject">thumb_up</i>
			            				</li>
		            				<% end %>
	            				</ul>
	          				</div>
	          			</div>
					<% end %>
        		</div>
				     <% if user_signed_in? and current_user.teacher%>
				     <div class="edit-button">
		      		 <%= link_to(teacher_url) do %>
		          	 <li class="btn waves-effect waves-light">Muokkaa profiiliasi</li>
		       		 <% end %>
            </div>
     <% end %>
        		<div class="col s12 l6 profile-card">
        			<div class="row">
						<div class="col s9 l9 m9 center">
							<div class="card horizontal">
								<div class="card-image">
									<%= image_tag(@picture.url(:medium), :class => 'circle') %>
								</div>
								<div class="card-stacked">
								  <div class="card-content">
            						<i class="material-icons">attach_money</i>20€/h<i class="material-icons">grade</i>Verified
								  </div>
								  <div class="card-action">
									<a>
										<%= form_for @friendship do |f| %>
										<%= f.hidden_field :user, :value => @teacher.id %>
										<%= f.submit "Ota yhteyttä", :type => "submit", :class => "btn waves-effect" %>
										<% end %>
									</a>
								  </div>
								</div>
							</div>
							<div class="description">
							<%= @teacher.bio %>
							 </div>
						</div>
					</div>
        		</div>
      		</div>
    	</div>
    	<div class="section">
      		<div class="row">
        		<div class="col s12 l6">
					<% if user_signed_in? %>
					<%= form_for(@newcomment, :html => {class: "form-horizontal", role: "form"}) do |f| %>
		    			<div class="row">
			    			<form class="col s12">
				      			<div class="row">
				        			<div class="input-field col s10">
				          				<i class="material-icons prefix">mode_edit</i>
				          				<%= f.text_area :body, class: "materialize-textarea", id: "icon_prefix2" %>
				          				<%= f.label :comment, for: "icon_prefix2"%>
				        			</div>
				      			</div>
			    			</form>
							<%= f.hidden_field :target, :value => @teacher.id %>
							<%= f.hidden_field :poster, :value => current_user.id %>
							<div class="form-group comment-button">
								<button class="btn waves-effect waves-light" type="submit" name="action">
								<%= f.submit "Kommentoi"%>
								<i class="material-icons right">send</i>
								</button>
							</div>
		  				</div>
		  			<% end %>
		  			<% end %>
        		</div>
	        	<div class="col s12 l6">
	        	<% if user_signed_in? %>
	        		<h5 class="">Kommentit</h5>
					<ul class="collection">
						<% @comments.each do |comment| %>
							<li class="collection-item avatar">
								<!--<img src="images/yuna.jpg" alt="" class="circle">-->
								<%= image_tag(comment.poster.avatar(:medium), :class => 'circle') %>
								<span class="title"><%= comment.poster.first_name %></span>
								<p><%= comment.body %></p>
								<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
							</li>
						<% end %>
					</ul>
				<% end %>
	        	</div>
        	</div>
  			</div>
    	</div>
    	</div>
