

<div id="login_panel">

<h5 class="mdl-layout__header-row login_title" id="signup-header">Kirjaudu</h5>

<div class="profile-edit-view"><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field, mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.email_field :email, autofocus: true, :class => 'mdl-textfield__input', :id => 'login_email' %>
    <%= f.label :email, :class => 'mdl-textfield__label', :for => 'login_email' %>
  </div>
  <br>
  <div class="field, mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.password_field :password, :class => 'mdl-textfield__input', :id => 'login_password', autocomplete: "off" %>
    <%= f.label :password, :class => 'mdl-textfield__label', :for => 'login_password' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
          <%= f.check_box :remember_me, :class => 'mdl-checkbox__input' %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Kirjaudu", :class => 'waves-effect waves-light btn' %>
  </div>
<% end %>
</div>
<div class="signup-view">
<%= render "devise/shared/links" %>
</div>
</div>


