<div id=login>

  <div id="login_panel">



  <div class="profile-edit-view"><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="">
      <%= f.email_field :email, autofocus: false, :class => 'email_field', :id => 'login_email', :placeholder => 'Sähköposti', :html => {:autocomplete => "off"} %>
    </div>
    <br>
    <div class="">
      <%= f.password_field :password, :class => '', :id => 'login_password', autocomplete: "off", :placeholder => 'Salasana' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="remember_field">
        <%= f.check_box :remember_me, :class => 'check_box' %>
        <%= f.label :remember_me, 'Muista minut' %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Kirjaudu", :class => 'login_button confirm_button' %>
    </div>
  <% end %>
  </div>
  <div class="signup-view">
    <small>Ei vielä tunnuksia? <%= link_to('Liity', new_user_registration_path) %> ilmaiseksi.</small>
  </div>
  </div>


</div>
