<!DOCTYPE html>
<html>
<head>
  <title>Tutorinki</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

    <main class="mdl-layout__content">
      <ul id="slide-out" class="side-nav fixed collapsible" data-collapsible="accordion">
         <li><div class="userView background_navigation">
           <div class="background_navigation">

           </div>
           <a href="#!name"><span class="white-text name">John Doe</span></a>
           <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
         </div></li>
<li>
         <div class="collapsible-header"><i class="material-icons">filter_drama</i>Login</div>
               <div class="collapsible-body">
                 <div id="login_panel">

                   <h5 class="mdl-layout__header-row login_title">Log in</h5>

                   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                   <div class="input-field inline">
                     <%= f.email_field :email, autofocus: true, :id => 'login_email', autocomplete: "off" %>
                     <%= f.label :email, :for => 'login_email' %>
                   </div>
                   <br>
                   <div class="input-field inline">
                     <%= f.password_field :password, :id => 'login_password', autocomplete: "off" %>
                     <%= f.label :password, :for => 'login_password' %>
                   </div>

                   <% if devise_mapping.rememberable? -%>
                   <div class="field">
                     <%= f.check_box :remember_me, :class => 'mdl-checkbox__input' %>
                     <%= f.label :remember_me %>
                   </div>
                   <% end -%>

                   <div class="actions">
                     <%= f.submit "Log in", :class => 'waves-effect waves-light btn' %>
                   </div>
                   <% end %>
                   <!-- <%= render "devise/shared/links" %> -->
                 </div>
               </div>
</li>

         <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
         <li><a href="#!">Second Link</a></li>
         <li><div class="divider"></div></li>
         <li><a class="subheader">Subheader</a></li>
         <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

       </ul>
       <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
       <div id="app_content">
      <%= yield %>
      </div>

  </div>
</div>

</body>
</html>
