<!DOCTYPE html>
<html>
<head>
  <title>Tutorinki</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

</head>

<body>

  <ul id="slide-out" class="side-nav fixed collapsible" data-collapsible="accordion">
    <li><div class="userView background_navigation">
      <div class="background_navigation"></div>
      <% if user_signed_in? %>
      <%= image_tag(current_user.avatar.url(:thumb), :class => 'round-image-50') %>
      <% else %>
      <div id="titleblock">
        <h3>Tutorinki</h3>
      </div>
      <% end %>
    </div></li>

  <li>
  <div class="row">
   <div class="col s12">
     <div class="row">
       <div class="input-field col s12">
         <%= form_tag(teachers_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :subject_query, params[:subject_query], placeholder: "Hae opetusta" %>
          <%= submit_tag "Search" %>
         <% end %>
       </div>
     </div>
   </div>
 </div>
  </li>

    <% if !user_signed_in? %>
    <li>
      <div class="collapsible-header"><i class="large material-icons">perm_identity</i>Kirjaudu</div>
      <div class="collapsible-body">
        <div id="login_panel">

          <h5 class="mdl-layout__header-row login_title">Log in</h5>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-field inline">
            <%= f.email_field :email, autofocus: true, :id => 'login_email', autocomplete: "off" %>
            <%= f.label :email, :for => 'login_email' %>
          </div>
          <br>
          <div class="input-field inline">
            <%= f.password_field :password, :id => 'login_password', autocomplete: "off" %>
            <%= f.label :password, :for => 'login_password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, :class => 'mdl-checkbox__input' %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", :class => 'waves-effect waves-light btn' %>
          </div>
          <% end %>

        </div>
      </div>
    </li>
    <% end %>
    <li>
      <%= link_to(root_path) do %>
      <div class="collapsible-header"><i class="large material-icons">home</i>Koti</div>
      <% end %>
    </li>

    <% if user_signed_in? %>
    <li>
      <%= link_to(edit_user_registration_path) do %>
      <div class="collapsible-header"><i class="large material-icons">account_circle</i>Omat tiedot</div>
      <% end %>
    </li>
    <li>
      <%= link_to(destroy_user_session_path, :method => :delete) do %>
      <div class="collapsible-header"><i class="large material-icons">exit_to_app</i>Kirjaudu ulos</div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  <div id="app_content">
    <%= yield %>
  </div>

</div>
</div>

</body>
</html>
